@charset "utf-8";

.light-text, .light-text h1, .light-text h2, .light-text h3, .light-text h4, .light-text h5, .light-text h6, .light-text .info-bar h6 {
	color: #ffffff;
}
.light-text .facts h6:before {
	background: #ffffff;
}
.light-text .icon-with-title.style4 p {
	color: #cccccc;
}
.light-text .tabs-boxed .tabs-nav li a {
	color: #ffffff;
}
.light-text .icon-with-title.style4 .icon-holder {
	 border-color: rgba(255, 255, 255, 0.3);
}
.light-text .icon-with-title.style4:hover .icon-holder {
	border-color: #ffffff;
}
.light-text .facts.style2 .facts-icon-holder i {
	color: #ffffff;
}
.light-text .heading h6 {
	color: #e1e1e1;
}
.light-text .error404 .error-info {
	color: #ffffff;
}
.light-text .search-form input[type="search"] {
	background: #ffffff;
}
/**
 * 2.0 Margins & Transitions
 * -----------------------------------------------------------------------------
 */

.topmargin-10, .topmargin-20, .topmargin-30, .topmargin-40, .topmargin-50, .topmargin-60, .topmargin-70, .topmargin-80, .topmargin-90, .topmargin-100 {
	clear: both;
	width: 100%;
	display: inline-block;
	float: left;
}
.topmargin-10 {
	margin-top: 10px;
}
.topmargin-20 {
	margin-top: 20px;
}
.topmargin-30 {
	margin-top: 30px;
}
.topmargin-40 {
	margin-top: 40px;
}
.topmargin-50 {
	margin-top: 50px;
}
.topmargin-60 {
	margin-top: 60px;
}
.topmargin-70 {
	margin-top: 70px;
}
.topmargin-80 {
	margin-top: 80px;
}
.topmargin-90 {
	margin-top: 90px;
}
.topmargin-100 {
	margin-top: 100px;
}

.column-divider {
	margin: 50px 0;
	padding: 0px;
	clear: both;
	float: left;
	display: block;
	width: 100%;
	background: #e9e9e9;
	height: 1px;
}

.icon-with-title:hover .icon-holder, .icon-with-title .icon-holder, .blog-item .post-thumbnail .post-format, .social-networks li:before, .team .social-links li a i, ol.planner-list > li:before, .top, .facts .facts-icon-holder {
	-moz-transition:  .3s ease-in-out;
	-webkit-transition:  .3s ease-in-out;
	-o-transition:  .3s ease-in-out;
	-ms-transition:  .3s ease-in-out;
	transition:  .3s ease-in-out;
}

/**
 * 3.0 Gradient
 * -----------------------------------------------------------------------------
 */

.icon-with-title.style1 .icon-holder, .icon-with-title.style2:hover .icon-holder, .social-links li a:hover:before, .contact-with-large-icon .contact-icon-holder, ol.planner-list > li:hover:before, .icon-with-title.style7 .icon-holder {
	background-image: url(fallback-gradient.html); 
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)) 0%, color-stop(40%, rgba(0,0,0,0.05)), to(rgba(0, 0 ,0 , 0.1)));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0 ,0 , 0.1));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0 ,0 , 0.1));
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0 ,0 , 0.1));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0 ,0 , 0.1));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#000000)";	
}

/**
 * 4.0 Preloader
 * -----------------------------------------------------------------------------
 */
body:not(.no-preloader) .theme-container {
  position:relative;
  opacity:0;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

.preloader {
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	-webkit-animation: load 1.7s infinite ease;
	animation: load 1.7s infinite ease;
}
@-webkit-keyframes load {
	0% {
  		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);
  		box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
	}
  	5%,
 	95% {
  		box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
  	}
  	30% {
  		box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.51em -0.66em 0 -0.42em #50c1e9, -0.75em -0.36em 0 -0.44em #50c1e9, -0.83em -0.03em 0 -0.46em #50c1e9, -0.81em 0.21em 0 -0.477em #50c1e9;
  	}
  	55% {
    	box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.29em -0.78em 0 -0.42em #50c1e9, -0.43em -0.72em 0 -0.44em #50c1e9, -0.52em -0.65em 0 -0.46em #50c1e9, -0.57em -0.61em 0 -0.477em #50c1e9;
  	}
  	100% {
  		-webkit-transform: rotate(360deg);
  		transform: rotate(360deg);
  		box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
  	}
}
@keyframes load {
  	0% {
  		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);
  		box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
  	}
  	5%,
  	95% {
    	box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
  	}
  	30% {
    	box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.51em -0.66em 0 -0.42em #50c1e9, -0.75em -0.36em 0 -0.44em #50c1e9, -0.83em -0.03em 0 -0.46em #50c1e9, -0.81em 0.21em 0 -0.477em #50c1e9;
  	}
  	55% {
    	box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.29em -0.78em 0 -0.42em #50c1e9, -0.43em -0.72em 0 -0.44em #50c1e9, -0.52em -0.65em 0 -0.46em #50c1e9, -0.57em -0.61em 0 -0.477em #50c1e9;
 	}
  	100% {
    	-webkit-transform: rotate(360deg);
    	transform: rotate(360deg);
    	box-shadow: -0.11em -0.83em 0 -0.4em #50c1e9, -0.11em -0.83em 0 -0.42em #50c1e9, -0.11em -0.83em 0 -0.44em #50c1e9, -0.11em -0.83em 0 -0.46em #50c1e9, -0.11em -0.83em 0 -0.477em #50c1e9;
  	}
}

/**
 * 5.0 Buttons
 * -----------------------------------------------------------------------------
 */

.button {
	outline:0;	
	line-height: normal;
	margin: 10px 0px;
	padding: 14px 40px 12px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;	
	-webkit-transition:all 100ms linear; 
	-moz-transition:all 100ms linear; 
	-o-transition:all 100ms linear; 
	-ms-transition:all 100ms linear; 
	transition:all 300ms linear;
}
.button:hover {
	color: #ffffff;
}
.button:before {
	/*background: radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	border-radius: 3px;
}
.button.stroke-style {
	border: 1px solid #dddddd;
	background: none;
	color: #999999;
}
.button.stroke-style:hover {
	color: #ffffff;
}
.button.stroke-style.light {
	border-color: #ffffff;
	background: none;
	color: #ffffff;
}
.button.stroke-style.light:hover {
	color: #ffffff;
}


.button.stroke-style.light.hvr-effect:before {
	background: #ffffff;		
}
.button.stroke-style.light.hvr-effect:hover {
	color: #051f27;
	border-color: #ffffff;
}

.button.hvr-effect:hover {
	background: none !important;
}




/**
 * 6.0 Info Bar
 * -----------------------------------------------------------------------------
 */
.info-bar {
	text-align: center;
	width: 100%;
}
.info-bar h4 {
	margin-bottom: 15px;
}
.info-bar h6 {
	color: #999999;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0;
}
.info-bar.style2 {
	text-align: left;
}
.info-bar.style2 h6 {
	font-size: 14px;
	margin: 0;
	letter-spacing: 0.5px;
	font-weight: normal;
}
.info-bar.style2 .col-9 {
	padding-left: 80px;
}
.info-bar .button {
	margin: 5px 0 0;
}
.info-bar .info-bar-buttons {
	margin: 20px 0 0;
	float: left;
	clear: both;
	width: 100%;
}
.info-bar .info-bar-buttons .button {
	margin: 0 10px;
}

.info-bar.style3 h3 {
	display: inline-block;
	width: auto;
	margin-right: 30px;
	margin-bottom: 0;
}
.info-bar.style3 .button {
	margin: 0;
	display: inline-block;
	position: relative;
	top: -3px;
}


.fullwidth-info-text .heading h2 {
	font-size: 34px; 
	font-weight: normal;
	margin-bottom: 65px;
}
.fullwidth-info-text .heading h2:before {
	bottom: -35px;
}
.fullwidth-info-text p {
	margin: 0;
}

.big-intro-text {
	font-size: 34px; 
	line-height: 50px; 
	font-weight: 300; 
	margin: 0;
}

/**
 * 7.0 Heading
 * -----------------------------------------------------------------------------
 */
.heading {
	clear: both;
}
.heading.center {
	text-align: center;
}
.heading.no-border h1, .heading.no-border h2, .heading.no-border h3, .heading.no-border h4, .heading.no-border h5 {
	font-weight: normal;
	margin-bottom: 30px;
}
.heading.no-border h1:before, .heading.no-border h2:before, .heading.no-border h3:before, .heading.no-border h4:before, .heading.no-border h5:before {
	background: none;
}
.heading h1 span, .heading h2 span, .heading h3 span, .heading h4 span, .heading h5 span {
	font-weight: 600;
}
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
	/*position: relative;*/
	margin-bottom: 50px;
	font-weight: 600;
}
.heading h1:before, .heading h2:before, .heading h3:before, .heading h4:before, .heading h5:before {
	content: "";
	position: absolute;
	left: 0;
	width: 30px;
	height: 1px;
	bottom: -20px;
}
.heading.white h1:before, .heading.white h2:before, .heading.white h3:before, .heading.white h4:before, .heading.white h5:before {
	background-color: #ffffff;
}
.heading h5:before {
	bottom: -15px;
}
.heading.center h1:before, .heading.center h2:before, .heading.center h3:before, .heading.center h4:before, .heading.center h5:before {
	left: 0;
	right: 0;
	margin: auto;
}
.heading.right {
	text-align: right;
}
.heading.right h1:before, .heading.right h2:before, .heading.right h3:before, .heading.right h4:before, .heading.right h5:before {
	left: inherit;
	right: 0;
}
.heading h6 {
	font-size: 11px;
	color: #999999;
	letter-spacing: 2.3px;
	line-height: 20px;
	font-weight: 600;
}

/**
 * 8.0 Icon With Title
 * -----------------------------------------------------------------------------
 */

.icon-with-title {
	width: 100%;
	margin: 0;
	padding-top:  0;
}
.icon-with-title.center {
	text-align: center;
}
.icon-with-title.left {
	text-align: left;
}
.icon-with-title.right {
	text-align: right;
}
.icon-with-title.left h6:before {
	right: inherit;
}
.icon-with-title.right h6:before {
	left: inherit;
}
.icon-with-title.style2.right .icon-holder {
	margin-left: 15px;
	margin-right: 0;
	float: right;
}
.icon-with-title.style5.right {
	padding-right: 95px;
}
.icon-with-title.style5.right .icon-holder {
	right: 0;
	left: inherit;
}
.icon-with-title.style5.center {
	padding: 95px 0 0;
}
.icon-with-title.style5.center .icon-holder {
	top: 10px;
	left: 0;
	right: 0;
}
.icon-with-title.circle .icon-holder {
	text-align: center;
}
.icon-with-title.style1 .icon-holder, .icon-with-title.style3 .icon-holder {
	border: 10px solid #f0f0f0;
	margin-bottom: 20px;	
	position: relative;  
	-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;	
}
.icon-with-title.style1 .icon-holder i, .icon-with-title.style3 .icon-holder i {
	color: #ffffff;
	line-height: 80px;
	font-size: 26px;
	position: relative;
	z-index: 1;
}
.icon-with-title h6 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 22px;
	letter-spacing: 0.5px;
}
.icon-with-title h6:before {
	content: "";
	left: 0;
	right: 0;
	margin: auto;
	width: 30px;
	height: 1px;
	bottom: -25px;
}
.icon-with-title.style2 .icon-holder {
	border: 2px solid;
	background-color: #ffffff;
	color: #333333;
	height: 60px;
	width: 60px;
	background-image: none;
	margin-right: 15px;
	margin-bottom: 30px;
	display: inline-block;
}
.icon-with-title.style2 .icon-holder i {
	color: #333333;
	font-size: 22px;
	line-height: 60px;
}
.icon-with-title.style2 h6 {
	clear: none;
	display: inline-block;
	margin-bottom: 0;
	line-height: 60px;
}
.icon-with-title.style2 h6:before {
	background: none;
}
.icon-with-title.style2 p {
	clear: both;
}

.icon-with-title.style2:hover .icon-holder i { 
	color: #ffffff;
}
.icon-with-title.style3 .icon-holder {
	background-color: #ffffff;
	width: 110px;
	height: 110px;
}
.icon-with-title.style3 .icon-holder i {
	line-height: 90px;
}
.icon-with-title.style3 .icon-holder:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	border: 1px solid #dedede;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.icon-with-title.style3:hover .icon-holder i {
	color: #ffffff;
}
.icon-with-title.style3:hover .icon-holder:before {
	width: 110px;
	height: 110px;
	left: -10px;
	top: -10px;
}
.icon-with-title.style4 {
	padding: 0 0 0 95px;
	position: relative;
	clear: both;
	min-height: 70px;
}
.icon-with-title.style4 .icon-holder {
	width: 70px;
	height: 70px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	text-align: center;
	line-height: 68px;
	font-size: 26px;
}
.icon-with-title.style4 h6 {
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-transform: none;
}
.icon-with-title.style4 h6:before {
	background: none;
}
.icon-with-title.style4 p {
	font-size: 14px;
	line-height: 24px;
}
.icon-with-title.style4:hover .icon-holder {
	color: #ffffff;
}
.icon-with-title.style4.right {
	padding-left: 0;
	padding-right: 95px;
}
.icon-with-title.style4.right .icon-holder {
	right: 0;
	left: inherit;
}





.icon-with-title.style5 {
	padding-left: 95px;
	position: relative;
}
.icon-with-title.style5 .icon-holder {
	position: absolute;
	left: 0;
	top: 0;
}
.icon-with-title.style5 .icon-holder i {
	font-size:50px;
}
.icon-with-title.style5 .icon-holder img {
	max-width: 70px;
}
.icon-with-title.style5 h6 {
	margin-bottom: 55px;
}

.icon-with-title.style6 {
	position: relative;
}
.icon-with-title.style6 .icon-holder {
	float: left;
	width: 45px;
	margin-right: 25px;
}
.icon-with-title.style6.right .icon-holder {
	float: right;
	margin-left: 25px;
	margin-right: 0;
}
.icon-with-title.style6.center .icon-holder {
	float: none;
	display: inline-block;
	margin-right: 25px;
}
.icon-with-title.style6.center h6 {
	display: inline-block;
	float: none;
}
.icon-with-title.style6 .icon-holder i {
	font-size:40px;
}
.icon-with-title.style6 .icon-holder img {
	max-width: 45px;	
}
.icon-with-title.style6 h6 {
	clear: none;
	float: left;
	margin-bottom: 50px;
}
.icon-with-title.style6.right h6 {
	float: right;
}
.icon-with-title.style6 h6:before {
	bottom: -20px;
}
.icon-with-title.style6 p {
	clear: both;
}


.icon-with-title.style7 {
	border: 1px solid #dddddd;
	padding: 40px 40px 40px 80px;
	float: left;
	clear: both;
	position: relative;
	margin: 0 0 -1px;
}
.icon-with-title.style7:hover {
	background: #f3f3f3;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.icon-with-title.style7:hover .icon-holder:before {
	border: 10px solid #ffffff;
}
.icon-with-title.style7 .icon-holder {
	position: absolute;
	left: -40px;
	bottom: 0;
	top: 0;
	width: 80px;
	height: 80px;
	margin: auto;	
}
.icon-with-title.style7 .icon-holder:before {
	content: "";
	position: absolute;
	left: -10px;
	bottom: 0;
	top: -10px;
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
}
.icon-with-title.style7 h6:before {
	background: none;
}
.icon-with-title.style7 h6 {
	margin-bottom: 15px;
	text-transform: none;
	font-size: 17px;
	letter-spacing: normal;
}
.icon-with-title.style7 p {
	margin: 0;
}
.icon-with-title.style7 .icon-holder i {
	font-size: 26px;
	color: #ffffff;
	line-height: 80px;
}

/**
 * 9.0 Portfolio Item
 * -----------------------------------------------------------------------------
 */

.portfolio-item figure {
	position: relative;
	overflow: hidden;
}
.portfolio-item figure figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.portfolio-item figure figcaption {    
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.portfolio-item figure figcaption h6 {
    opacity: 0;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.5px;
    margin: 0 10px 5px;
    padding: 50px 0 0;
    /*height: 130px;*/
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.portfolio-item figure figcaption p {
    opacity: 0;
    color: #ffffff;
    font-size: 11px;
    padding: 0;
    margin: 0 10px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.portfolio-item:hover figure figcaption, .portfolio-item:hover figure figcaption h6, .portfolio-item:hover figure figcaption p {
    opacity: 1;
}
.portfolio-item:hover figure figcaption h6 a, .portfolio-item:hover figure figcaption p a {
	color: #ffffff;
}


.portfolio-item figure figcaption .fig-overlay {
	height: 146px;
	margin: auto;
	bottom: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

.portfolio-item figure figcaption h6 {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.portfolio-item figure figcaption p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
.portfolio-item:hover figure figcaption h6 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.portfolio-item:hover figure figcaption p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item figure img {
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.portfolio-item:hover figure img {
	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.portfolio-holder {
	float: left;
	clear: both;
	width: 100%;
	margin: 50px 0 0;
}
.portfolio-holder .portfolio-item {
	padding-bottom: 30px;
}
.portfolio-holder .portfolio-item.no-space {
	padding-bottom: 0;
}
.portfolio-filter {
	clear: both;
	width: 100%;
	margin: 0 0 40px
}
.portfolio-filter ul {
	margin: 0;
	text-align: center;
	width: 100%;
}
.portfolio-filter ul li {
	display: inline-block;
	margin: 0 5px;
}
.portfolio-filter ul li a {
	border: 1px solid #e9e9e9;
	color: #999999;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	padding: 12px 17px;
	display: inline-block;
	margin: 0px 0px 20px;
}
.portfolio-filter ul li a:hover, .portfolio-filter ul li a.current {
	color: #ffffff;
}

/**
 * 9.1 Portfolio Details
 * -----------------------------------------------------------------------------
 */

.portfolio-details-wrap {
	margin: 0;
}
.portfolio-details-slideshow-wrap {
	position: relative;
	width: 100%;
	margin: 0;
	float: left;
	clear: both;
	display: block;
}
.portfolio-details-slideshow-nav {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.portfolio-details-slideshow-nav a {
	background: #ffffff;
	font-size: 20px;
	width: 40px; 
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #999999;
	cursor: pointer;
	border-radius: 50%;
}
.portfolio-details-slideshow-nav a:hover {
	color: #ffffff;
}

.portfolio-details-slideshow {
	float: left;
	clear: both;
	display: block;
	width: 100%;
}
.portfolio-details {
	margin: 80px 0 0;
	padding: 0;
	clear: both;
	float: left;
	width: 100%;
}
.portfolio-details h3 {
	font-size: 28px;
	margin: 0;
}
.portfolio-social-share {
	float: right;
}
.portfolio-details p {
	font-size: 12px;
	font-weight: 600;
	float: left;
	margin-right: 10px;
}
.portfolio-details .social-links {
	margin: -10px 0 0;
	float: left;
}
.portfolio-details .social-links li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-left: 10px;
}
.portfolio-details .column-divider {
	margin: 30px 0;
}
.portfolio-meta-details {
	margin: 0;
}
.portfolio-meta-details li {
	display: block;
	clear: both;
	margin: 0 0 10px;
	font-weight: 700;
}
.portfolio-meta-details li span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	width: 135px;
	float: left;
}
.portfolio-meta-details li.links a {
	color: #666666;
}
.with-sidebar .portfolio-details-wrap .button {
	padding-right: 20px;
	padding-left: 20px;
}
.iframe-video-wrap {
	clear: both;
}
/**
 * 10.0 Facts
 * -----------------------------------------------------------------------------
 */

.facts {
	width: 100%;
	text-align: center;
	margin: 0 0 -49px;
	position: relative;
	z-index: 1;
}
.facts .facts-count {
	font-size: 40px;
	font-weight: 600;
	padding-bottom: 45px;
	display: inline-block;
	width: 100%;
}
.facts h6 {
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 0.5px;
	margin-top: 20px;
}
.facts h6:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -25px;
	width: 30px;
	height: 1px;
	margin: auto;
	background: #dddddd;
}
.facts .facts-icon-holder {
	background: #ffffff;
	height: 98px;
	width: 98px;
	border-radius: 98px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 40px 0 0;
}
.facts:hover .facts-icon-holder i {
	color: #ffffff;
}
.facts .facts-icon-holder i {
	font-size: 26px;
	line-height: 98px;
}

.facts.style2 {
	margin: 0;
}
.facts.style2 .facts-icon-holder {
	background: none;
	width: auto;
	height: auto;
	margin: 0;
	box-shadow: none;
}
.facts.style2:hover .facts-icon-holder {
	background: none;
}
.facts.style2 .facts-icon-holder i {
	font-size: 16px;
	line-height: normal;
}
.facts.style2 h6:before {
	top: -55px;
}
.facts.style2 h6 {
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 0;
}
.facts.style2 .facts-icon-holder i {
	color: #999999;
}

/**
 * 11.0 Lists
 * -----------------------------------------------------------------------------
 */

.list {
	width: 100%;
	clear: both;
	margin: 0;
	padding:0;
}

.list.push {
	margin-left: 20px;
}

.list li {
	padding: 0 0 10px 20px;
	display: block;
	position: relative;
	font-size: 14px;
}

.list li:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: FontAwesome;
}

.list.small li:before {
	font-size: 14px;
}

.list.medium li:before {
	font-size: 18px;
}
.list.medium li {
	padding-left: 25px;
	font-size: 15px;
}
.list.large li {
	padding-left: 30px;
	font-size: 17px;
}
.list.large li:before {
	font-size: 20px;
	top: 1px;}

.list.check-circle li:before {
	content: "\f05d";
}
.list.arrow-circle li:before {
	content: "\f18e";
}
.list.book li:before {
	content: "\f02d";
}
.list.briefcase li:before {
	content: "\f0b1";
}
.list.camera li:before {
	content: "\f030";
}
.list.caret-square li:before {
	content: "\f152";
}
.list.arrow-right li:before {
	content: "\f054";
}
.list.clock li:before {
	content: "\f017";
}
.list.close li:before {
	content: "\f00d";
}
.list.comments li:before {
	content: "\f0e6";
}
.list.folder li:before {
	content: "\f07c";
}
.list.hand li:before {
	content: "\f0a4";
}
.list.location-arrow li:before {
	content: "\f124";
}
.list.pencil li:before {
	content: "\f040";
}
.list.plus-square li:before {
	content: "\f0fe";
}
.list.question-circle li:before {
	content: "\f059";
}
.list.star li:before {
	content: "\f005";
}
.list.user li:before {
	content: "\f007";
}
.list.send li:before {
	content: "\f1d8";
}
.list.check li:before {
	content: "\f00c";
}


/**
 * 12.0 Testmonials
 * -----------------------------------------------------------------------------
 */

.testimonial {
	width: 100%;
	margin: 0;
	float: left;
}
.testimonial blockquote {
	font-size: 14px;
	line-height: 24px;
	color: #666666;
	text-align: center;
	position: relative;
	margin-bottom: 45px;
}
.testimonial blockquote:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 57px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid;
}
.testimnonial-author {
	float: left;
	clear: both;
	width: 100%;
}
.testimnonial-author .author-image {
	float: left;
	padding: 6px;
	border: 1px solid #dddddd;
	max-width: 86px;
	border-radius: 70px;
	margin: -20px 0 0 25px;
}
.testimnonial-meta {
	margin-left: 25px;
	float: left;
}
.testimnonial-meta p {
	color: #333333;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-bottom: 0;
}
.testimnonial-meta span {
	font-size: 11px;
	color: #999999;
	clear: both;
	display: block;
	font-weight: 400;
	letter-spacing: 1px;
}
.testimnonial-rating {
	float: right;
	margin: 14px 0 0;
	line-height: 0;
}

/**
 * 13.0 Social Networks
 * -----------------------------------------------------------------------------
 */
.social-networks {
	width: 100%;
	margin: 0;
}
.social-networks li {
	float: left;
	display: inline;
	width: 25%;	
	color: #ffffff;
	position: relative;
} 
.social-networks li i {
	font-size: 50px;
	float: left;
	width: 60px;
}
.social-networks li a {
	color: #ffffff;
	padding: 25px 65px 25px 40px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.social-networks li p {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin: 8px 0 0px;
}
.social-networks li .followers {
	text-transform: uppercase;
}
.social-networks li:before {
	position: absolute;
	content: "\f105";
	right: 30px;
	top: 0;
	bottom: 0;
	height: 30px;
	width: 30px;
	border: 1px solid #ffffff;
	border-radius: 30px;
	margin: auto;
	font-size: 18px;
	font-family: FontAwesome;
	color: #ffffff;
	text-align: center;
	line-height: 26px;
}
.social-networks li:hover:before {
	background-color: #ffffff;
	color: #999999;
}
.social-networks li.facebook {
	background-color: #4d6bab;
}
.social-networks li.twitter {
	background-color: #4ec6f8;
}
.social-networks li.googleplus {
	background-color: #d34836;
}
.social-networks li.linkedin {
	background-color: #248cc9;
}


.social-links li a[href$="/feed/"]:hover {
	background-color: #F58026;
	border-color: #F58026;
}

.social-links li a[href*="codepen.io"]:hover {
	background-color: #000000;
	border-color: #000000;
}

.social-links li a[href*="digg.com"]:hover {
	background-color: #1B5791;
	border-color: #1B5791;
}

.social-links li a[href*="dribbble.com"]:hover {
	background-color: #E04C86;
	border-color: #E04C86;
}

.social-links li a[href*="dropbox.com"]:hover {
	background-color: #007EE5;
	border-color: #007EE5;
}


.social-links li a[href*="wordpress.com"]:hover,
.social-links li a[href*="wordpress.org"]:hover {
	background-color: #1C8ABD;
	border-color: #1C8ABD;
}


.social-links li a[href*="mailto:"]:hover {
	background-color: #F6BD0E;
	border-color: #F6BD0E;
}

.social-links li a[href*="spotify.com"]:hover {
	background-color: #7DC211;
	border-color: #7DC211;
}

.social-links li a[href*="twitch.tv"]:hover {
	background-color: #603C9A;
	border-color: #603C9A;
}

.social-links li a[href*="delicious.com"]:hover {
	background-color: #084DCC;
	border-color: #084DCC;
}

/**
 * 13.1 Social Links
 * -----------------------------------------------------------------------------
 */
.social-links {
	margin: 0;
}
.social-links li {
	float: left;
	display: inline;
}
.social-links li a {
	display: inline-block;
	margin-left: 20px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	position: relative;
}
.social-links li a:hover {
	color: #ffffff;
}
.social-links li a:before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 30px;
	left: 0;
	top: 0;
	position: absolute;
}

/**
 * 14.0 Contact Details
 * -----------------------------------------------------------------------------
 */
.contact {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}
.contact address, .contact abbr {
	padding-left: 30px;
	font-style: normal;
	clear: both;
	width: 100%;
	float: left;
	margin: 10px 0 0;	
}
.contact address:before, .contact abbr:before {
	content: "\f041";
	position: absolute;
	left: 0;
	font-family: FontAwesome;
	font-size: 16px;
}
.contact abbr[title="Phone Number"]:before {
	content: "\f095";
}
.contact abbr[title="Mail Address"]:before {
	content: "\f0e0";
}
.contact abbr[title="Working Time"]:before {
	content: "\f017";
}
.contact abbr[title="Fax Number"]:before {
	content: "\f017";
}
.contact abbr a {
	color: #666666;
}

.contact-form {
	width: 80%;
	margin: 0 auto;
}
.contact-form.fw {
	width: 100%;
}
.contact-form input {
	text-align: center;
}

.contact-with-large-icon {
	position: relative;
	padding: 0 0 0 95px;
	float: left;
	clear: both;
}

.contact-with-large-icon .contact-icon-holder {
	content: "";
	border: 5px solid #f0f0f0;
	width: 60px;
	height: 60px;
	text-align: center;
	display: inline-block;
	margin: 0 0 10px 0;
	border-radius: 100px;
	position: absolute;
	left: 0;
	-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;	
}
.contact-with-large-icon .contact-icon-holder i {
	color: #ffffff;
	line-height: 50px;
	font-size: 20px;
	position: relative;
	z-index: 1;
}
.contact-with-large-icon .contact-icon-text-holder h6 {
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	margin-bottom: 60px;
	letter-spacing: 0.5px;
}
.contact-text-holder {
	float: left;
}
.contact-with-large-icon p {
	color: #000101;
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0 5px;
}
.contact-with-large-icon span {
	font-size: 10px;
	color: #999999;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/**
 * 14.1 Map
 * -----------------------------------------------------------------------------
 */
.map {
	width: 100%;
	height: 500px;
}
.map img {
	max-width: none;
}
.gmap_marker {
	margin: 10px 0 0;
}
.gmap_marker h5 {
	margin-bottom: 20px;
}

/**
 * 15.0 Tabs
 * -----------------------------------------------------------------------------
 */
.tabs-holder, .tabs-boxed {
	width: 100%;
	float: left;
	clear: both;
}
.tabs-boxed .tabs-nav {
	margin: 0 0 60px;
	width: 100%;
	float: left;
}
.tabs-boxed .tabs-nav li {
	float: left;
	display: inline;
	margin: 0 -1px 0 0;
	border: 1px solid;	
}
.tabs-boxed .tabs-nav li a {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 20px 9px;
	float: left;
	color: #999999;
	min-width: 200px;
	text-align: center;
}
.tabs-boxed .tabs-nav li:first-child {
	border-radius: 3px 0 0 3px;
}
.tabs-boxed .tabs-nav li:last-child {
	border-radius: 0 3px 3px 0;
}
.tabs-boxed .tabs-nav li a:hover, .tabs-boxed .tabs-nav li a.current {
	color: #ffffff;
}

/**
 * 16.0 Team
 * -----------------------------------------------------------------------------
 */
.team {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
}
.team-image-wrapper {
	margin-bottom: 35px;
	border-radius: 50%;
	background: #f6f6f6;
	border: 1px solid #e9e9e9;
	width: 120px;
	height: 120px;
	padding: 10px;
	display: inline-block;
}
.team-image-wrapper img {
	border-radius: 50%;
}
.team h5 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 10px;
}
.team h6 {
	font-size: 13px;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.team .social-links {
	position: relative;
	margin: 30px 0 0;
	padding: 30px 0 0;
}
.team .social-links:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	height: 1px;
	width: 30px;
	margin: auto;
	top: 0;
}
.team .social-links li {
	float: none;
	display: inline-block;
}
.team .social-links li a {
	border: 0;
	border-radius: 0;
	margin: 0;
	font-size: 15px;
	color: #cccccc;
}
.team .social-links li a, .team .social-links li a:hover {
	background: none;
}
.team .social-links li a:hover:before {
	background: none;
}

.team.style2 {
	position: relative;
}
.team.style2:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	background: rgba(0, 0, 0, 0.05);
	-webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 200ms linear; transition:all 200ms linear;
}
.light-text .team.style2:before {
	background: rgba(0, 0, 0, 0.2);
}
.team.style2:hover:before {
	height: 100%;
}
.team.style2.bottom-image:before {
	bottom: 0;
	top: inherit;
}
.team.style2 .team-image-wrapper {
	background: none;
	border: 0;
	border-radius: 0;
	width: 100%;
	height: auto;
	padding: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.team.style2 .team-image-wrapper {
	margin-bottom: 50px;
}
.team.style2 .team-image-wrapper img {
	-webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 200ms linear; transition:all 200ms linear;
}
.team.style2:hover .team-image-wrapper img {
 	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
 }
.team.style2 .social-links {
	margin-bottom: 49px;
}
.team.style2 .team-image-wrapper img {
	border-radius: 0;
}
.team.style2.bottom-image .team-image-wrapper {
	margin: 50px 0 0;
}
.team.style2.bottom-image h5 {
	margin-top: 49px;
}
.team.style2.bottom-image .social-links {
	margin-bottom: 0;
}

/**
 * 17.0 Title With Description
 * -----------------------------------------------------------------------------
 */
.title-with-desc {
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
}
.title-with-desc h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}

/**
 * 18.0 Clients
 * -----------------------------------------------------------------------------
 */
.clients {
	float: left;
	clear: both;
	width: 100%;
	margin: 0;
}
.clients img {
	opacity: 0.6;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.clients img:hover {
	opacity: 1;
}

/**
 * 19.0 Planner List
 * -----------------------------------------------------------------------------
 */
ol.planner-list {
    clear: both;
    counter-reset: li-counter;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
ol.planner-list > li {
    clear: both;
    float: left;
    list-style: outside none none;
    margin: 0 0 50px;
    padding: 0 0 0 115px;
    position: relative;
    min-height: 90px;
}
ol.planner-list > li:before {
    border: 2px solid #9f9f9f;
    border-radius: 40px;
    color: #303030;
    content: counter(li-counter, decimal);
    counter-increment: li-counter;
    font-size: 34px;
    font-weight: 700;
    height: 75px;
    left: 0;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 75px;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 0 3px #e9e9e9, 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1) ;
}
ol.planner-list > li:Hover:before {
	color: #ffffff;
}
ol.planner-list li:after {
	content: "";
	position: absolute;
	left: 25px;
	bottom: -13px;
	background: url(../images/planner-down-arrow.png) no-repeat;
	height: 25px;
	width: 23px;
}
ol.planner-list li h6 {
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	margin-bottom: 45px;
	letter-spacing: 0.5px;
	font-size: 16px;
}
ol.planner-list > li h6:before {
	position: absolute;
	content: "";
	left: 0;
	margin: auto;
	width: 30px;
	height: 1px;
	bottom: -20px;
}
ol.planner-list li:last-child:after {
	background: none;
}

/**
 * 20.0 Progress Bar
 * -----------------------------------------------------------------------------
 */
.progress-bar-wrapper {
	float: left;
	clear: both;
	width: 100%;
	margin: 24px 0 36px;
	padding: 0;
	position: relative;
	border: 1px solid #e9e9e9;
	height: 8px;
}
.progress-bar-wrapper h6 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 500;
	margin-bottom: 10px;
	position: absolute;
	top: -32px;
}

.progress-bar-wrapper .progress-bar {
	position: absolute;
	left: 0;
	top: -1px;
	height: 8px;
}

.progress-bar-wrapper .progress-bar-percent p {
	right: -10px;
	top: -30px;
	position: absolute;
	font-size: 11px;
	color: #999999;
	font-weight: 600;
	margin: 0;
}
.progress-bar-wrapper .progress-bar-percent {
	right: -10px;
	position: absolute;
	top: -31px;
	background: #ffffff;
	padding: 0 10px;
}

.facts-count {
	display: inline;	
}


/**
 * 21.0 Accordion
 * -----------------------------------------------------------------------------
 */
.accordion-holder {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e9e9e9;
}
.accordion-holder .accordion-panel {
	width: 100%;
	float: left;
}
.accordion-holder .accordion-panel.current .accordion-title {
	border-bottom-color: transparent;
}
.accordion-panel .accordion-title {
	cursor: pointer;
	border-bottom: 1px solid #e9e9e9;
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
}
.accordion-title .accordion-arrow {
	border: 1px solid #e1e1e1;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	float: left;
	position: relative;
	margin-right: 20px;
}
.accordion-title .accordion-arrow:before {
	content: "\f105";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	font-family: FontAwesome;
	margin: auto;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 27px;
	-webkit-transition:all 200ms linear; -moz-transition:all 200ms linear; -o-transition:all 200ms linear; -ms-transition:all 200ms linear; transition:all 200ms linear;
}
.accordion-holder .accordion-panel.current .accordion-title .accordion-arrow:before {
	color: #ffffff;
	content: "\f107";
}
.accordion-holder .accordion-panel:hover .accordion-title .accordion-arrow:before {
	color: #ffffff;
}
.accordion-title h6 {
	margin: 0;
	float: left;
	clear: none;
	line-height: 27px;
	font-size: 14px;
	font-weight: 600;
}
.accordion-collapse {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0 0 15px 47px;
	float: left;
	border-bottom: 1px solid #e9e9e9;
}

/**
 * 22.0 Owl Carousel
 * -----------------------------------------------------------------------------
 */
 .owl-carousel-custom-nav {
 	margin: -10px 0 10px;
 	float: left; 
 	clear: both;
 	width: 100%;
 }
.owl-carousel-custom-nav a {
	border: 1px solid #dddddd;
	width: 29px;
	height: 29px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #999999;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.owl-carousel-custom-nav a:hover {
	color: #ffffff;
}