<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Build In Trading and Contracting W.L.L | admin</title>
<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="outer">
	<div class="wraper">
    	<div class="header">
            <div class="logo"><img src="images/logo1.png" alt="Augur Computers Private Limited" /></div>
        </div>
        	<div class="navigation">
            <ul>
            	<li style="border-left:none;"><a href="#">Home</a></li>
            	<li>Settings</li>
            	<li style="border-right:none;">Login</li>
            </ul>
            </div>
        <div class="body_area">
       	  <div class="content_area">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu imperdiet ante. Phasellus molestie ullamcorper porttitor. Donec dui sapien, ultrices ut ornare a, vulputate sit amet odio. Vestibulum posuere ullamcorper tellus eu rutrum. Morbi dictum pharetra tellus. Nam et congue ante. Fusce pulvinar congue nisi, quis malesuada nulla volutpat sit amet. Fusce eros massa, placerat eu rhoncus ac, rhoncus et mi. Sed eget lectus vel quam accumsan eleifend. Donec iaculis, nisl a porttitor luctus, purus dolor euismod urna, eget eleifend sapien velit eu libero. Pellentesque et aliquam nunc. Suspendisse potenti. Praesent ligula dui, tincidunt vel egestas in, mollis eu elit. Proin et diam non massa interdum rutrum at sed justo. Aliquam ullamcorper leo ac velit mollis ullamcorper et accumsan lorem. Mauris placerat, tellus vitae aliquet porttitor, nisl lacus varius orci, in vestibulum libero nibh non massa. Fusce suscipit tincidunt placerat. Nam mollis egestas mattis.             </div>
        </div>
        <div class="footer">Copyright &copy;2012, Build In Trading and Contracting W.L.L. All rights reserved. Designed by <a href="http://www.keralainfotech.com/">Keralainfotech.com</a></div>
</div>
</div>
</body>
</html>
